@font-face {
    font-family: lakeshore;
    src: url('fonts/LAKESHOR-webfont.eot');
    src: url('fonts/LAKESHOR-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/LAKESHOR-webfont.woff') format('woff'),
    url('fonts/LAKESHOR-webfont.ttf') format('truetype'),
    url('fonts/LAKESHOR-webfont.svg#lakeshore') format('svg');
}
@font-face {
    font-family: 'airstreamregular';
    src: url('fonts/Airstream-webfont.eot');
    src: url('fonts/Airstream-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Airstream-webfont.woff') format('woff'),
         url('fonts/Airstream-webfont.ttf') format('truetype'),
         url('fonts/Airstream-webfont.svg#airstreamregular') format('svg');
}
html, body{
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
    font-size: 10px;
    background: rgb(149, 194, 215);
}
a{
    text-decoration: none;
}
.main-header{
    flex: 0 1 auto;
}
.logo-text{
    font-family: lakeshore;
    background: white;
    text-align: center;
    text-transform: uppercase;
    font-size: 37px;
}
.main-content{
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}
.thumbnail-list{
    display: flex;
    justify-content: space-between;
    order: 2;
    flex: 0 1 auto;
    list-style: none;
    padding: 0;
    white-space: nowrap;
    overflow-x: auto;
}
.thumbnail-item {
    display: inline-block;
    /* width: 120px; */
    min-width: 120px;
    max-width: 120px;
    border: 1px solid rgb(255, 255, 255);
    border: 1px solid rgba(255, 255, 255, .8);
}
/* 
.thumbnail-item + .thumbnail-item{
    margin-top: 10px;
} */
.thumbnail-image{
    display: block;
    width: 100%;
}
.thumbnail-title{
    display: block;
    margin: 0;
    padding: 4px 10px;

    background-color: rgb(96, 125, 139);
    color: rgb(202, 238, 255);

    font-size: 18px;
}
/* 大图样式开始 */
.detail-image-container{
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.detail-image-frame{
    position: relative;
    text-align: center;
}
.detail-image{
    width: 90%;
}
.detail-image-title{
    position: absolute;
    left: 0.1em;
    bottom: -0.4em;
    font-family: airstreamregular;
    color: #fff;
    text-shadow: rgba(0, 0, 0, .9) 1px 2px 9px;
    font-size: 4em;
}
/* 大图样式结束 */

/* 响应式布局开始 */
@media all and (min-width: 768px) {
    .main-content{
        flex-direction: row;
        overflow: hidden;
    }
    .thumbnail-list{
        flex-direction: column;
        order: 0;
        margin-left: 2em;

    }
    .thumbnail-item{
        max-width: 26em;
    }
    .thumbnail-item + .thumbnail-item{
        margin-top: 2em;
    }
}
/* 响应式布局结束 */