@font-face {
    font-family: lakeshore;
    src: url('fonts/LAKESHOR-webfont.eot');
    src: url('fonts/LAKESHOR-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/LAKESHOR-webfont.woff') format('woff'),
    url('fonts/LAKESHOR-webfont.ttf') format('truetype'),
    url('fonts/LAKESHOR-webfont.svg#lakeshore') format('svg');
}
body{
    font-size: 10px;
    background: rgb(149, 194, 215);
}
a{
    text-decoration: none;
}
.logo-text{
    font-family: lakeshore;
    background: white;
    text-align: center;
    text-transform: uppercase;
    font-size: 37px;
}
.thumbnail-list{
    list-style: none;
    padding: 0;
}
.thumbnail-item {
    display: block;
    border: 1px solid rgb(255, 255, 255);
    border: 1px solid rgba(255, 255, 255, .8);
}
.thumbnail-item + .thumbnail-item{
    margin-top: 10px;
}
.thumbnail-image{
    display: block;
    width: 100%;
}
.thumbnail-title{
    display: block;
    margin: 0;
    padding: 4px 10px;

    background-color: rgb(96, 125, 139);
    color: rgb(202, 238, 255);

    font-size: 18px;
}